
.main {
    justify-items: center;
    
}

.calculator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-screen{

}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
